@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="jesus_freak" class="display-4 jesus-text" onmouseover="newColor()" onmouseout="oldColor()">Jesus Freak</h1><br /><br />
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/kbB0QrBIs9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
